[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
requests = "*"
responses = "*"
cryptography = "*"


[requires]
python_version = "3.8"
